<!--about start here-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="about-top">
                <h2>About Us</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
            </div>
            <div class="about-bottom">
                <div class="col-md-6 about-bott-left">
                    <img src="images/ab.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6 about-bott-right">
                    <!-- Elliptic -->
                    <div class="colorful-tab-wrapper" id="colorful-elliptic">
                        <ul class="colorful-tab-menu">
                            <li class="colorful-tab-menu-item active" tab-color="#C9003C"><a href="#elp-0">About</a></li>
                            <li class="colorful-tab-menu-item" tab-color="#00A566"><a href="#elp-1">Skills</a></li>
                            <li class="colorful-tab-menu-item" tab-color="#8021D3"><a href="#elp-2">Details</a></li>
                            <li class="colorful-tab-menu-item" tab-color="#E54400"><a href="#elp-3">History</a></li>

                        </ul>
                        <div class="colorful-tab-container">
                            <div class="colorful-tab-content active" id="elp-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum gravida massa ac cursus. Donec viverra urna eget leo ultricies, nec condimentum dui pulvinar. Aliquam et orci eget lacus ultricies euismod.
                                    Curabitur quis vestibulum nunc. Mauris elementum urna sagittis volutpat consequat. Phasellus ultrices, metus in fringilla bibendum, purus ipsum.</p>
                            </div>
                            <div class="colorful-tab-content" id="elp-1">
                                <ul>
                                    <li>Phasellus porttitor a ipsum sit amet posuere.</li>
                                    <li>Nunc id justo pellentesque ligula gravida.</li>
                                    <li>Maecenas tempor a lacus nec lacinia.</li>
                                    <li>Maecenas tempor a lacus nec lacinia.</li>
                                    <li>ullamcorper felis, in laoreet nisl.</li>
                                </ul>
                            </div>
                            <div class="colorful-tab-content" id="elp-2">
                                <p>Aliquam sodales viverra interdum. In sapien dolor, convallis vel neque in, egestas scelerisque nibh. Mauris ut est velit. Donec lacinia metus facilisis, gravida nisi sit amet, sodales erat. Nunc semper ut dolor placerat
                                    ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula malesuada metus, eu accumsan orci aliquam a. Nam congue interdum dictum.</p>
                            </div>
                            <div class="colorful-tab-content" id="elp-3">
                                <p>Nulla condimentum eros nec erat faucibus, et ultricies ipsum porttitor. Mauris vel cursus metus, eget imperdiet magna. Integer quis mi auctor, eleifend lorem eu, ullamcorper augue. Curabitur id vehicula libero. Duis condimentum
                                    sapien turpis, vel porttitor arcu pulvinar ut. Donec ut enim eu augue iaculis efficitur sit amet at purus. Donec elementum mauris sit amet neque.</p>
                            </div>

                        </div>
                    </div>
                    <!-- Elliptic -->
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--about end here-->
